# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2026 林博仁(Buo-ren Lin) <buo.ren.lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "The Common Project Template"]
	path = The Common Project Template
	url = https://gitlab.com/the-common/project-template.git
	ignore = dirty
[submodule "The common project template with Cookiecutter support"]
	path = The common project template with Cookiecutter support
	url = https://gitlab.com/the-common/cookiecutter-project.git
	ignore = dirty
