# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "The Common Project Template"]
	path = The Common Project Template
	url = https://github.com/the-common/project-template.git
	ignore = dirty
